body {
    background: rgb(15, 15, 15);
    padding-top: 1em;
    padding-left: 4em;
    display: flex;
    justify-content: left;
  }
  
  .typewriter h1 {
    color: rgb(255, 255, 255);
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid rgb(123, 238, 46);
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* Efeito de digitação */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* Efeito do cursor */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(128, 255, 128) }
  }